.button {
    padding: 10px;
    margin: 10px;
    width: 70%;
    /* Set width to 100% to take up the entire width */
    height: 60px;

    color: white;
    font-size: 36px;
    cursor: pointer;

    background: linear-gradient(to bottom right, rgb(40, 40, 214), rgb(173, 18, 173));

    border: 3px solid #fff;
    border-radius: 50px;

    text-align: center;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

}

.button span {
    flex-grow: 1;
    text-align: center;
    position: relative;
    left: -1em;
}

.logo {
    position: relative;
    left: 0.8em;
    width: 1.8em;
}

.button:hover {
    background: linear-gradient(to bottom right, rgb(29, 29, 150), rgb(112, 11, 112));

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 100px;

}

.moins-18 {
    height: 2em;
    vertical-align: middle;

}

#dropdown {
    width: 65%;
    height: 0;
    background-color: #830f7d;
    border-radius: 0 0 50px 50px;
    font-size: 1.5em;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    margin-bottom: 0px;
    overflow: hidden;
    transition: height 1s ease;
}

#dropdown.visible {
    height: 8em;
    margin-bottom: 20px;
}

.valider {
    color: #fff;
    background-color: #7a093e;
    border: none;
    margin: 0px 0px 0.1em 0.5em;
    padding: 0.6em;
    border-radius: 10px;
    font-size: 1em;
}

.refuser {
    color: #fff;
    background-color: #2e282b;
    padding: 0.6em;
    border: none;
    margin: 0px 0px 0.1em 0.5em;
    border-radius: 10px;
    font-size: 1em;
}

body {
    background-color: #093966;
    color: #fff;
    font-family: 'Grafton', sans-serif;
}

.logo-ush {
    height: 2em;
    display: block;
    margin: auto;


}

@media screen and (max-width: 500px) {
    .logo-ush {
        height: 150px;

    }
}