# Activer la réécriture des URL
RewriteEngine On

# Réécriture pour supprimer l'extension .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Empêcher l'accès direct aux répertoires
Options -Indexes

# Empêcher l'affichage des fichiers .htaccess
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>